<h1><%= @user.name %>'s Calendar</h1>
<div>
  <h4 class="inline"><%= link_to "Calendar" %></h4>
  <h4 class="inline"><%= link_to "List" %></h4>
  <h4 class="inline"><%= link_to "Map" %></h4>
</div>
<br>
<% current_user.follows.each do |follow| %>
  
  <% @hash_version.each do |date| %>
  
    <% date["artists"].each do |info| %>
      <h1 class="artist_name"><%= info["name"] %></h1>
      <br>
      <%= image_tag("#{info['thumb_url']}", class: 'artist_img') %>
    <% end %>
    <br>
    <br>
    <%= date["venue"]["name"] %>
    <br>
    <%= date["formatted_datetime"] %>
    <br>
    <%= date["formatted_location"] %>, <%= date["venue"]["country"] %>
    <br>
    Tickets <%= date["ticket_status"].titleize %> <%= link_to("Buy", "#{date['ticket_url']}") %>

  <% end %>

<% end %>