
<div class="container">
  <h1><%= @user.name %>'s Upcoming Shows</h1>
  <div>
    <h4 class="inline"><%= link_to "List", calendar_index_path %></h4>
    <h4 class="inline"><%= link_to "Map", map_path %></h4>
  </div>
  <br>

  <!-- if a user isn't following any artists yet -->
  <% if current_user.follows.count == 0 %>
    <h3>See which of your favorite artists are playing concerts around you!  How about <%= link_to("searching", artists_path) %> for some to follow right now?</h3>
  <% end %>

  <!-- if none of a users follows have shows coming up -->
  <% if @hash_version_array.empty? && current_user.follows.count >= 1 %>
    <div class="feedify">
      <div class="feedify-item">
        <div class="mb15 fs30 artist_name newsfeed_artist animated bounceInUp">
          <p>No Upcoming Shows</p>
        </div>
      </div>
    </div>
    <div class="feedify-item-body">
      <p class="artist_li animated bounceInUp">None of the artists you are following currently have any upcoming shows..  They will appear here if they do.</p>
    </div>
  <% elsif current_user.follows.count >= 1 %>
    <h4>You have <%= pluralize(@hash_version_array.count, "upcoming show") %></h4>
  <% end %>

  <!-- if a users follows have upcoming shows -->
  <% @hash_version_array.each do |date| %>
    <% date[0]["artists"].each_with_index do |info, index| %>
      <% if index == 0 %>
        <div class="mb15 artist_name newsfeed_artist animated bounceInUp">
          <h1><%= info["name"] %></h1>
        </div>
        <div class="animated bounceInUp artist_li top">
          <br>
          <%= image_tag("#{info['thumb_url']}", class: 'artist_img') %>
          <br>
          <div class="artist_links_wrapper">
            <%= link_to("Web", info['website'], class: 'artist_links') unless info['website'].nil? %>
            <%= link_to("Facebook", info['facebook_page_url'], class: 'artist_links') unless info['facebook_page_url'].nil? %>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div class="animated bounceInUp artist_li">
      <%= date[0]["venue"]["name"] %>
      <br>
      <%= date[0]["formatted_location"] %>, <%= date[0]["venue"]["country"] %>
      <br>
      Tickets <%= date[0]["ticket_status"].titleize %> <%= link_to("Buy", "#{date[0]['ticket_url']}") %>
      <br>
      <%= link_to("Directions", "http://maps.google.com/maps?saddr=#{'37.4889250, -122.2730250'}&daddr=#{@venue_name}+#{@venue_city}&hl=en") %>
      <br>
      <h3 class="artist_name"><%= date[0]["formatted_datetime"] %></h3>
      <br>
      <hr class="artists_hr">
    </div>
  <% end %>

  <script>
    $(function() {
      $('.feedify').feedify();
    });
  </script>
</div>