
<div class="container">
  <h1><%= @user.name %>'s Upcoming Shows</h1>

  <!-- if a user isn't following any artists yet -->
  <% if current_user.follows.count == 0 %>
    <h3>See which of your favorite artists are playing concerts around you!  How about <%= link_to("searching", artists_path) %> for some to follow right now?</h3>
  <% end %>

  <!-- if none of a users follows have shows coming up -->
  <% if @hash_version_array.empty? && current_user.follows.count >= 1 %>
    <div class="feedify">
      <div class="feedify-item">
        <div class="mb15 fs30 artist_name newsfeed_artist animated bounceInUp">
          <p>No Upcoming Shows</p>
        </div>
      </div>
    </div>
    <div class="feedify-item-body">
      <p class="artist_li animated bounceInUp">None of the artists you are following currently have any upcoming shows..  They will appear here if they do.</p>
    </div>
  <% elsif current_user.follows.count >= 1 %>
    <h4>You have <%= pluralize(@final_sort.count, "upcoming show") %></h4>
  <% end %>

  <!-- if a users follows have upcoming shows -->
   
  <% @final_sort.each do |info| %>
    <div class="mb15 artist_name newsfeed_artist animated bounceInUp">
      <h1><%= info["artists"][0]["name"].titleize %></h1>
    </div>
    <div class="animated bounceInUp artist_li top">
      <br>
      <%= image_tag("#{info['artists'][0]['thumb_url']}", class: 'artist_img calendar_image') %>
      <br>
      <% if info['artists'][0]['website'].nil? && info['artists'][0]['facebook_page_url'].nil? %>
        <!-- NOTHING AT ALL -->
      <% else %>
        <div class="artist_links_wrapper">
          <%= link_to("Web", info['artists'][0]['website'], class: 'artist_links') unless info['artists'][0]['website'].nil? %>
          <%= link_to("Facebook", info['artists'][0]['facebook_page_url'], class: 'artist_links') unless info['artists'][0]['facebook_page_url'].nil? %>
        </div>
      <% end %>
    </div>

    <div class="animated bounceInUp artist_li">
      <%= info["venue"]["name"] %>
      <br>
      <%= info["formatted_location"] %>, <%= info["venue"]["country"] %>
      <br>
      Status: Tickets <%= info["ticket_status"].titleize %> - <%= link_to("Buy", "#{info['ticket_url']}") %>
      <br>
      <%= location_info(info["facebook_rsvp_url"]) %>
      <br>
      <h3 class="artist_name"><%= info["formatted_datetime"] %></h3>
      <br>
      <hr class="artists_hr">
    </div>
  <% end %>

  <%= link_to("Top", "#", class: 'scrollup') %>

  <script>
    $(function() {
      $('.feedify').feedify();
    });

    $(document).ready(function() {
      // fadeIn/fadeOut scroll to top button depending on what part of the page the user is on
      $(window).scroll(function() {
        if ($(this).scrollTop() > 100) {
          $('.scrollup').fadeIn();
        } else {
          $('.scrollup').fadeOut();
        }
      });

      // animate a smooth scroll to the top
      $('.scrollup').click(function() {
        $("html, body").animate({
          scrollTop: 0
        }, 600);
        return false;
      });
    });
  </script>
</div>