<h1><%= @user.name %>'s Calendar</h1>
<div>
  <h4 class="inline"><%= link_to "Calendar" %></h4>
  <h4 class="inline"><%= link_to "List" %></h4>
  <h4 class="inline"><%= link_to "Map" %></h4>
</div>
<br>

<% @hash_version_array.each do |date| %>
  <% date[0]["artists"].each_with_index do |info, index| %>
    <% if index == 0 %>
      <div class="feedify">
        <div class="feedify-item">
          <div class="feedify-item-header mb15 artist_name newsfeed_artist animated bounceInUp">
            <h1><%= info["name"] %></h1>
          </div>
          <div class="feedify-item-body">
            <div class="animated bounceInUp artist_li top">
              <br>
              <%= image_tag("#{info['thumb_url']}", class: 'artist_img') %>
              <br>
              <div class="artist_links_wrapper">
                <%= link_to("Web", info['website'], class: 'artist_links') unless info['website'].nil? %>
                <%= link_to("Facebook", info['facebook_page_url'], class: 'artist_links') unless info['facebook_page_url'].nil? %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <div class="animated bounceInUp artist_li">
    <%= date[0]["venue"]["name"] %>
    <br>
    <%= date[0]["formatted_location"] %>, <%= date[0]["venue"]["country"] %>
    <br>
    Tickets <%= date[0]["ticket_status"].titleize %> <%= link_to("Buy", "#{date[0]['ticket_url']}") %>
    <br>
    <h3 class="artist_name"><%= date[0]["formatted_datetime"] %></h3>
    <br>
    <hr class="artists_hr">
  </div>
<% end %>

<script>
  $(function() {
    $('.feedify').feedify();
  });
</script>