<h1><%= @user.name %>'s Calendar</h1>
<div>
  <h4 class="inline"><%= link_to "Calendar" %></h4>
  <h4 class="inline"><%= link_to "List" %></h4>
  <h4 class="inline"><%= link_to "Map" %></h4>
</div>
<br>

  
<% @hash_version_array.each do |date| %>
  <h3 class="artist_name"><%= date[0]["formatted_datetime"] %></h3>
  <% date[0]["artists"].each do |info| %>
    <h1 class="artist_name"><%= info["name"] %></h1>
    <br>
    <%= image_tag("#{info['thumb_url']}", class: 'artist_img') %>
  <% end %>

  <br>
  <br>

  <%= date[0]["venue"]["name"] %>
  <br>
  <%= date[0]["formatted_location"] %>, <%= date[0]["venue"]["country"] %>
  <br>
  Tickets <%= date[0]["ticket_status"].titleize %> <%= link_to("Buy", "#{date[0]['ticket_url']}") %>
  <br>
  <hr class="artists_hr">
<% end %>