<h1><%= current_user.name %>'s Profile</h1>

<div class="row">
  <div class="col-md-6">
    <h4 class="pull-left"><%= link_to "My Calendar", calendar_index_path %></h4>
    <h4 class="pull-right"><%= link_to "My Newsfeed", newsfeed_path %></h4>
    <div class="clearfix"></div>
    <h4><%= pluralize(current_user.follows.count, "artist") %> being followed <em><%= link_to "(edit)" %></em></h4>
    <h4>7 upcoming concerts</h4>
  </div>
  <div class="col-md-6 text-center">
    <h4>Listen to who you follow!</h4>
    <iframe src="https://embed.spotify.com/?uri=spotify:trackset:My%20Follows:<%= @user.followed_artist_tracks %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>