<div class="container">
  <h1><%= current_user.name %>'s Profile</h1>

  <div class="row">
    <div class="col-md-6 text-center">
      <h4>Neighborhood Watch</h4>
      <small>see if any of your follows are playing near you!</small>
      <%= image_tag("http://mike.teczno.com/img/google-maps-track.png", class: 'img-responsive') %>
    </div>
    <div class="col-md-6 text-center">
      <h4>Listen to who you follow!</h4>
      <small>music is not streamable via mobile at this time :'(</small><br>
      <iframe src="https://embed.spotify.com/?uri=spotify:trackset:My%20Follows:<%= @user.followed_artist_tracks %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>My Follows</h3>
      <div>
        <% if current_user.follows.count == 0 %>
          <h5><em>your followed artists will be displayed here.</em></h5>
          <h5><em>maybe you should <%= link_to("search", artists_path) %> for some..</em></h5>
        <% else %>
          <h5><%= pluralize(current_user.follows.count, "artist") %> total</h5>
          <%= button_tag("Edit", class: 'btn btn-default btn-xs') %>
          <br>
          <br>
          <div class="subselect">
            <input type="radio" id="all" name="radio1"> Select All
            <input type="radio" id="none" name="radio1"> Clear All
          </div>
          <br>
          <% current_user.follows.each do |follow| %>
            <div class="follow-row">
              <%= follow["artist_name"] %>

              <!-- button to unfollow an artist -->
              
              <p class="pull-right">Unfollow</p>
              <input type="checkbox" class="unfollow-box pull-right" data-id="<%= follow.id %>"/>

              <hr class="artists_hr">
            </div>
          <% end %>
        <% end %>
      </div>


      <button id="unfollow-button">Unfollow these bands</button>


      <script>
        $("#unfollow-button").click(function(){
          var ids = [];
          $.each($(".unfollow-box:checked"), function(index, data){
            ids.push($(data).data("id"));
            $(data).parent(".follow-row").hide();
          });

          $.ajax("/follows", {method: "delete", data: {follow_ids: ids}})
        });

        // select/unselect all checkboxes

        $('#all').on('change', function() {
          $('.unfollow-box').prop('checked', $(this).is(':checked'));
        });

        $('#none').on('change', function() {
          $('.unfollow-box').prop('checked', !$(this).is(':checked'));
        });
      </script>

    </div>
    <div class="col-md-6 text-center">
      <h3>Recommendations</h3>
      <% if current_user.follows.count == 0 %>
        <p>Recommendations based on who you follow will appear here..</p>
      <% else %>
        <p>Based on your follows you might also like..</p>
        <% @hash_version_array.each do |item| %>
          <% item['artists'].each do |artist| %>
            <div class="artist_recommendation_wrapper">
              <div class="artist_recommendation artist_name newsfeed_artist">
                <%= artist['name'] %>
              </div>
              <%= link_to(image_tag(artist['images'][0]['url'], class: 'img-responsive artist_recommendation_img', width: 200, height: 200), artists_path) %>
              <br>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>