<!DOCTYPE html>
<html>
<head>
  <title>TheMusicProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand slideInUp nav_header_underline">
          <a href="#" class="nav_header">Where to?</a>
        </li>
        <li class="fadeInUp delay03">
          <%= link_to "Home", root_path, class: 'nav_links' %>
        </li>
        <li class="fadeInUp delay04">
          <%= link_to "About", about_path, class: 'nav_links' %>
        </li>

        <% if current_user %>

          <li class="fadeInUp delay05">
            <%= link_to "Profile", user_path(current_user), class: 'nav_links' %>
          </li>
          <li class="fadeInUp delay06">
            <%= link_to "Artist Search", artists_path, class: 'nav_links' %>
          </li>
          <li class="fadeInUp delay07">
            <%= link_to "Newsfeed", newsfeed_path, class: 'nav_links' %>
          </li>
          <li class="fadeInUp delay08">
            <%= link_to "Calendar", calendar_index_path, class: 'nav_links' %>
          </li>
          <div class="bottom_links">
            <li class="fadeInUp delay09">
              <%= link_to "Account", edit_user_registration_path, class: 'nav_links' %>
            </li>
            <li class="fadeInUp delay10">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav_links' %>
            </li>
          </div>

        <% else %>
          
          <div class="bottom_links">
            <li class="fadeInUp delay05">
              <%= link_to "Sign In", new_user_session_path, class: 'nav_links' %>
            </li>
            <li class="fadeInUp delay06">
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav_links' %>
            </li>
          </div>

        <% end %>

      </ul>
    </div>

    <nav class="navbar navbar-default navbar-static-top no_mb">
      <%= link_to("TheMusicProject", root_path, class: 'logo') %>
      <a class="btn btn-default" id="menu-toggle">Menu</a>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success fade_in_and_out" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger fade_in_and_out" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning fade_in_and_out" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert]%>
      </div>
    <% end %>
    
    <%= yield %>
  </div>

  <script>
    // fade in and out flash messages
    $(".fade_in_and_out").fadeIn("slow").delay(3000).fadeOut("slow");

    // toggle main menu from side
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      $(".sidebar-nav li").fadeToggle("slow").delay(500).toggleClass("animated");
    });
  </script>
</body>
</html>