<!DOCTYPE html>
<html>
<head>
  <title>TheMusicProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="mb-1 navbar navbar-static-top" role="navigation">
    <div class="container nav_container_bg">
      <div class="navbar-header">
        <div class="mobile_title_div">
          <strong class="mobile_title">el proyecto de la musica</strong>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav nav-tabs mobile">
          <li><%= link_to "The Music Project", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Artist Search", artists_path %></li>
            <li><%= link_to "Newsfeed", newsfeed_path %></li>
            <li><%= link_to "Calendar", calendar_index_path %></li>
          <% end %>

          <div class="pull-right user_info">
            <% if current_user %>
              <%= image_tag(current_user.avatar.tiny.url, class: 'nav_avatar') if current_user.avatar? %>
              Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! |
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> |
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
        </ul>
      </div>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert]%>
        </div>
      <% end %>
    </div>
  </nav>
  
  <div class="container body_container">
    <%= yield %>
  </div>
</body>
</html>