<!DOCTYPE html>
<html>
<head>
  <title>TheMusicProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  
</head>
<body>
  <div id="wrapper" class="toggled">
    
    <!-- Sidebar Navbar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand slideInUp nav_header_underline">
          <a href="#" class="nav_header">Where to?</a>
        </li>
        <li class="fadeInUp delay03">
          <%= link_to "Home", root_path, class: 'nav_links' %>
        </li>

        <% if current_user %>

          <li class="fadeInUp delay04">
            <%= link_to "Profile", user_path(current_user), class: 'nav_links' %>
          </li>
          <li class="fadeInUp delay05">
            <%= link_to "Artist Search", artists_path, class: 'nav_links' %>
          </li>
          <li class="fadeInUp delay06">
            <%= link_to "Newsfeed", newsfeed_path, class: 'nav_links' %>
          </li>
          <li class="fadeInUp delay07">
            <%= link_to "Calendar", calendar_index_path, class: 'nav_links' %>
          </li>
          <div class="bottom_links">
            <li class="fadeInUp delay08">
              <%= link_to "About", about_path, class: 'nav_links' %>
            </li>
            <li class="fadeInUp delay09">
              <%= link_to "Account", edit_user_registration_path, class: 'nav_links' %>
            </li>
            <li class="fadeInUp delay10">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav_links' %>
            </li>
          </div>

        <% else %>
          
          <div>
            <li class="fadeInUp delay04">
              <%= link_to "About", about_path, class: 'nav_links' %>
            </li>
            <li class="fadeInUp delay05">
              <%= link_to "Sign In", new_user_session_path, class: 'nav_links' %>
            </li>
            <li class="fadeInUp delay06">
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav_links' %>
            </li>
          </div>

        <% end %>

      </ul>
    </div>

    <!-- Overlay -->
    <div class="overlay overlay-hugeinc mobile_only"></div>
    
    <!-- Top Navbar -->
    <nav class="navbar navbar-default navbar-static-top no_mb">
      <%= link_to("TheMusicProject", root_path, class: 'logo') %>
      <a class="btn btn-default" id="menu-toggle">Menu</a>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success fade_in_and_out" style="display:none">
        <button type="button" class="close white" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger fade_in_and_out" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning fade_in_and_out" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert]%>
      </div>
    <% end %>
    
    <%= yield %>
  </div>

  <script>
// ===================================================================================================
// Fade in/out flash messages, toggling sidebar menu open and closed, fade toggles logo on mobile
// when sidebar is opened/closed
// ===================================================================================================

    // fade in and out flash messages
    $(".fade_in_and_out").fadeIn("slow").delay(3000).fadeOut("slow");

    // toggle main menu from side
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      $("#wrapper").toggleClass("overflow");
      $(".sidebar-nav li").fadeToggle("slow").delay(500).toggleClass("animated");
      
      // fadeToggles logo on smaller screens (responsive jQuery)
      if ($(".mobile_only").css("display") != "none") {
        $(".logo").fadeToggle("fast");
        // $("body").css("overflow", "hidden");
      }
    });

    // attempt to fix unwanted excess scrolling when menu is open on mobile
    // if ($("#wrapper").hasClass(".overflow")) {
    //   $("body").css("overflow", "hidden");
    // }

// ===================================================================================================
// Overlay (forget the official name for this one)
// ===================================================================================================

    (function() {
      var triggerBttn = document.getElementById( 'menu-toggle' ),
        overlay = document.querySelector( 'div.overlay' );
        transEndEventNames = {
          'WebkitTransition': 'webkitTransitionEnd',
          'MozTransition': 'transitionend',
          'OTransition': 'oTransitionEnd',
          'msTransition': 'MSTransitionEnd',
          'transition': 'transitionend'
        },
        transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
        support = { transitions : Modernizr.csstransitions };

      function toggleOverlay() {
        if( classie.has( overlay, 'open' ) ) {
          classie.remove( overlay, 'open' );
          classie.add( overlay, 'close' );
          var onEndTransitionFn = function( ev ) {
            if( support.transitions ) {
              if( ev.propertyName !== 'visibility' ) return;
              this.removeEventListener( transEndEventName, onEndTransitionFn );
            }
            classie.remove( overlay, 'close' );
          };
          if( support.transitions ) {
            overlay.addEventListener( transEndEventName, onEndTransitionFn );
          }
          else {
            onEndTransitionFn();
          }
        }
        else if( !classie.has( overlay, 'close' ) ) {
          classie.add( overlay, 'open' );
        }
      }

      triggerBttn.addEventListener( 'click', toggleOverlay );
      closeBttn.addEventListener( 'click', toggleOverlay );
    })();
  </script>
</body>
</html>